---
import siteData from "@/config/siteData.json";
import logo from "@/assets/site-logo.png";
import { Image } from "astro:assets";
---

<a
  class="primary-focus flex items-center align-middle"
  href="/"
  aria-label="Home"
  class=""
>
  <Image
    src={logo}
    alt="Cosmic Themes logo"
    loading="eager"
    width={100}
    height={100}
    class="h-10 w-10 md:h-14 md:w-14"
  />
  <div class="text-lg md:text-2xl font-semibold text-white">
    {siteData.name}
  </div>
</a>
