---
import logo from "@/assets/stratus_text.png";
import { Image } from "astro:assets";
---

<a
  class="primary-focus relative flex items-center align-middle md:pl-8"
  href="/"
  aria-label="Home"
  class=""
>
  <div class="relative h-full w-auto md:h-24 md:w-auto overflow-hidden">
    <Image
      src={logo}
      alt="Stratus logo"
      loading="eager"
      class="object-contain w-full h-full"
    />
  </div>
</a>
