---
import { type navLinkItem } from "@/config/navData.json";

interface Props {
  navItem: navLinkItem;
  class?: string;
}

const { navItem, class: className } = Astro.props as Props;
const { text, link, newTab = false } = navItem;

// if the current page is the same as the link, we change the styling
---

<li>
  <a
    class:list={[
      `tracking-wide primary-focus hover:text-blue-600 duration-300 relative block w-full px-2 md:px-4 py-2 font-medium transition text-white whitespace-nowrap uppercase text-shadow-lg ${className}`,
    ]}
    href={link}
    target={newTab ? "_blank" : ""}
    rel={newTab ? "noopener noreferrer" : ""}
  >
    {text}
  </a>
</li>
